@use "../utils/functions" as *;
@use "../utils//breakpoints" as *;

.grid-card-container.skeleton {
    --elements-border-radius: 2px;

    .nft-img {
        border-bottom: 1px solid hsl(var(--color-border-line) / 0.5) !important;

        .nft-type {
            background-color: hsl(var(--skeleton-elements) / 0.35);
            height: calc(rem(10) * var(--line-height-base));
            width: 7ch;
        }
    }

    .details {
        .name-price-data {
            .name {
                background-color: hsl(var(--skeleton-elements) / 0.35);
                height: calc(rem(10) * var(--line-height-base));
                border-radius: var(--elements-border-radius);
            }

            .price {
                gap: rem(3) !important;

                .price-label {
                    background-color: hsl(var(--skeleton-elements) / 0.35);
                    height: calc(rem(6) * var(--line-height-base));
                    border-radius: var(--elements-border-radius);
                    width: 9ch;
                }

                .price-amount {
                    background-color: hsl(var(--skeleton-elements) / 0.35);
                    height: calc(rem(10) * var(--line-height-base));
                    border-radius: var(--elements-border-radius);
                    width: 7ch;
                }
            }
        }

        .creator-details {
            .creator-avatar {
                background-color: hsl(var(--skeleton-elements) / 0.35);
            }

            .creator-name {
                gap: rem(3) !important;

                .label {
                    background-color: hsl(var(--skeleton-elements) / 0.35);
                    height: calc(rem(7) * var(--line-height-base));
                    border-radius: var(--elements-border-radius);
                    width: 8ch;
                }

                .name {
                    background-color: hsl(var(--skeleton-elements) / 0.35);
                    height: calc(rem(9) * var(--line-height-base));
                    border-radius: var(--elements-border-radius);
                    width: 12ch;
                }
            }

            .quantity {
                gap: rem(3) !important;

                .label {
                    background-color: hsl(var(--skeleton-elements) / 0.35);
                    height: calc(rem(7) * var(--line-height-base));
                    border-radius: var(--elements-border-radius);
                    width: 8ch;
                }

                .name {
                    background-color: hsl(var(--skeleton-elements) / 0.35);
                    height: calc(rem(9) * var(--line-height-base));
                    border-radius: var(--elements-border-radius);
                    width: 5ch;
                }
            }
        }
    }

    * {
        animation: skeleton-loading 1.25s linear infinite alternate;
    }
}
